.bcolor{
    background:gray;
    color:black;
    padding: 20px;
    border: 4px solid black;
    width: 500px;
}
#wrapper{
    max-width: 500px;
    margin: 0 auto 0 auto;
}
.dots{
    border: 3px dotted black;
    margin: 25px;
    width: 500px;
}
.round{
    border-radius: 180px;
}
.shdwbx{
    box-shadow:10px 20px 10px black;
}
.opwash{
    background:yellow;
    color:black;
    width: 500px;
    border: 3px solid gray;
    margin-top: 75px;
    opacity: 70%;
}
